*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    background-color: #333;
    padding: 1.5rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1.5rem;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid black;
    cursor: move    ;
}

.draggable.dragging {
    opacity: 0.5;
}